<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
		<section name="log4netMulti" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AssemblyBindingGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<log4netMulti thisConfig="false">
		<file value="log4net/EventParser.TheApp.config"/>
		<file value="log4net/EventParser.MainWindow.config"/>
	</log4netMulti>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<userSettings>
		<AssemblyBindingGenerator.Properties.Settings>
			<setting name="Folders" serializeAs="String">
				<value/>
			</setting>
			<setting name="LastFolder" serializeAs="String">
				<value/>
			</setting>
		</AssemblyBindingGenerator.Properties.Settings>
	</userSettings>
</configuration>
