<?xml version="1.0"?>
<log4net debug="true" >
	<appender name="AllOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/All-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="DebugOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG"/>
			<levelMax value="DEBUG"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/Debug-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="InfoOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO"/>
			<levelMax value="INFO"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/info-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="WarnOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN"/>
			<levelMax value="WARN"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/warn-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="ErrorsOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR"/>
			<levelMax value="ERROR"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/Errors-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="FatalOfEventParser.MainWindowAppender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="FATAL"/>
			<levelMax value="FATAL"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/EventParser.MainWindow/Fatals-EventParser.MainWindow.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<logger name="EventParser.MainWindow">
		<level value="ALL"/>
		<appender-ref ref="AllOfEventParser.MainWindowAppender"/>
		<appender-ref ref="DebugOfEventParser.MainWindowAppender"/>
		<appender-ref ref="InfoOfEventParser.MainWindowAppender"/>
		<appender-ref ref="WarnOfEventParser.MainWindowAppender"/>
		<appender-ref ref="ErrorsOfEventParser.MainWindowAppender"/>
		<appender-ref ref="FatalOfEventParser.MainWindowAppender"/>
	</logger>
</log4net>