<?xml version="1.0"?>
<log4net debug="true" >
	<appender name="AllOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<file value="${LOCALAPPDATA}Logs/{name}/All-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="DebugOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG"/>
			<levelMax value="DEBUG"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/{name}/Debug-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="InfoOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO"/>
			<levelMax value="INFO"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/{name}/info-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="WarnOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN"/>
			<levelMax value="WARN"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/{name}/warn-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="ErrorsOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR"/>
			<levelMax value="ERROR"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/{name}/Errors-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="FatalOf{name}Appender" type="log4net.Appender.RollingFileAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="FATAL"/>
			<levelMax value="FATAL"/>
		</filter>
		<file value="${LOCALAPPDATA}Logs/{name}/Fatals-{name}.log"/>
		<encoding value="utf-8" />
		<maxSizeRollBackups value="100" />
		<maximumFileSize  value="10MB" />
		<rollingStyle value="Composite"/>
		<appendToFile value="true"/>
		<CountDirection value="1"/>
		<datePattern value="(yyyy.MM.dd)"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<logger name="{name}">
		<level value="ALL"/>
		<appender-ref ref="AllOf{name}Appender"/>
		<appender-ref ref="DebugOf{name}Appender"/>
		<appender-ref ref="InfoOf{name}Appender"/>
		<appender-ref ref="WarnOf{name}Appender"/>
		<appender-ref ref="ErrorsOf{name}Appender"/>
		<appender-ref ref="FatalOf{name}Appender"/>
	</logger>
</log4net>